body {
    overflow: hidden;
}

.head {
    width: 90vw;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.button-logout {
    margin-left: 20px;
}

.user-profile {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    border: dashed chartreuse;
}