body {
    overflow: hidden;
}

.head {
    width: 90vw;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.head img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    border-radius: 30px;
}

button {
    margin-left: 20px;
}

.user-profile {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    border: dashed chartreuse;
}